body {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: #121212;
  background: #f5f5f5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  letter-spacing: -0.03em;
  box-sizing: border-box;
}
.content {
  margin: 0 auto;
  width: 1400px;
  background: #ffffff;
}
.container {
  margin: 0 auto;
  width: 1150px;
  padding: 0 125px;
}
.nav {
  height: 25px;
  display: flex;
  justify-content: space-between;
}
.universal-header {
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
}
.header {
  height: 25px;
  padding: 33px 0 70px 0;
  display: flex;
  justify-content: space-between;
}
.header__nav-list {
  width: 466px;
}

.header__link {
  color: #121212;
  cursor: pointer;
  border-bottom: 1px solid #ffffff;
  transition: 0.4s;
}
.header__link:hover {
  border-bottom: 1px solid #000;
  opacity: 0.5;
}
.we {
  margin: 0 0 150px 0;
}
.we__header {
  margin: 0 0 30px 0;
  width: 971px;
  font-size: 60px;
  line-height: 60px;
}
.we__command {
  width: 100%;
  height: 500px;
  position: relative;
  background: url(../resourses/img/png/interior.png) no-repeat;
}
.we__text {
  width: 430px;
  left: 40px;
  bottom: 40px;
  position: absolute;
  font-size: 20px;
  line-height: 27px;
  color: white;
}
.about-us {
  margin: 0 0 150px 0;
}
.about-us__header {
  margin: 0 0 30px 0;
}

.about-us__text {
  margin: 0 0 30px 0;
  width: 1048px;
  font-size: 45px;
  line-height: 61px;
}
.about-us__services-link {
  width: 255px;
  height: 67px;
  display: block;
  font-size: 20px;
  line-height: 67px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #ad1818;
  border: 1px solid #ad1818;
  cursor: pointer;
  transition: 0.4s;
}
.about-us__services-link:hover {
  border: 1px solid #ad1818;
  background-color: #ffffff;
  color: #ad1818;
}
.projects {
  margin: 0 0 150px 0;
}
.projects__header {
  margin: 0 0 30px 0;
}
.projects__item {
  margin: 0 0 90px 0;
}
.projects__img {
  margin: 0 0 15px 0;
}
.projects__description {
  margin: 0 0 15px 0;
  font-size: 30px;
  line-height: 41px;
}
.projects__details-link {
  display: block;
  font-size: 20px;
  line-height: 27px;
  color: #ad1818;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}
.projects__details-link:hover {
  font-size: 22px;
  font-weight: 900;
}
.projects__view-all-link {
  height: 153px;
  display: block;
  font-size: 30px;
  line-height: 153px;
  text-align: center;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-decoration: none;
  color: #ad1818;
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.4s;
}
.projects__view-all-link:hover {
  color: #ffffff;
  background-color: #ad1818;
}

.services {
  padding: 150px 0 150px 0;
  background: #121212;
  color: #ffffff;
}
.services__header {
  margin: 0 0 34px 0;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}
.services__text {
  font-size: 30px;
  line-height: 41px;
}
.services__img {
  margin: 0 0 15px 0;
}
.services__item:not(:last-child) {
  margin: 0 0 60px 0;
}
.example {
  margin: 0 0 150px 0;
  overflow: hidden;
}
.example__link {
  width: 100%;
  height: 717px;
  display: block;
  position: relative;
  background: url(../resourses/img/png/example.png) no-repeat;
  cursor: pointer;
  transition: 0.5s;
}
.example__link:hover {
  transform: scale(1.02);
  box-shadow: inset 0px 2000px rgba(0, 0, 0, 0.17);
}
.example__text {
  width: 443px;
  left: 125px;
  bottom: 60px;
  position: absolute;
  font-size: 30px;
  line-height: 41px;
  color: white;
}
.contacts {
  padding: 0 0 150px 120px;
}
.contacts__phone-img {
  margin: 0 0 12px 0;
}
.contacts__header {
  margin: 0 0 32px 0;
}
.contacts__tel {
  margin: 0 0 30px 0;
  width: 472px;
  display: block;
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
  border-bottom: 2px solid #ffffff;
  transition: 0.4s;
}
.contacts__mail {
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  text-decoration: none;
  border-bottom: 2px solid #ffffff;
  transition: 0.4s;
}
.contacts__mail:hover,
.contacts__tel:hover {
  border-bottom: 2px solid #121212;
  opacity: 0.5;
}
.footer {
  width: 100%;
  padding: 60px 0 30px 0;
  text-align: center;
  background: #121212;
  color: #ffffff;
}
.footer__nav-list {
  margin: 0 auto;
  width: 450px;
  padding: 0 10px 87px 0;
}
.footer__link {
  color: #ffffff;
  transition: 0.4s;
}
.footer__link:hover {
  opacity: 0.5;
}
.copyright {
  font-size: 20px;
  line-height: 27px;
  padding: 0 0 0 5px;
  opacity: 0.5;
}
