body {
  background: #f5f5f5;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  color: #121212;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  letter-spacing: -0.03em;
}
.container_1400px {
  margin: 0 auto;
  width: 1400px;
  background: #ffffff;
}
.container_1150px {
  margin: 0 auto;
  width: 1150px;
  padding: 0 125px;
}
.identical_headers,
.identical_headers a {
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
}
.header {
  height: 25px;
  padding: 33px 0 70px 0;
  display: flex;
  justify-content: space-between;
}
.header__links {
  margin: 0 auto;
  width: 450px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 87px 0;
}
.header__links li a {
  color: #121212;
}
.header__link1 {
  border-bottom: 1px solid #000;
  opacity: 0.5;
}
h1 {
  margin: 0 0 30px 0;
  width: 971px;
  font-size: 60px;
  line-height: 60px;
}
.we__interior {
  margin: 0 0 150px 0;
}
.we__interior__p {
  width: 100%;
  height: 500px;
  position: relative;
  background: url(../resourses/img/png/img_0.png) no-repeat;
}
.we__interior__p p {
  width: 430px;
  left: 40px;
  bottom: 40px;
  position: absolute;
  font-size: 20px;
  line-height: 27px;
  color: white;
}
.about_us {
  margin: 0 0 150px 0;
}
.about_us h2 {
  margin: 0 0 30px 0;
}

.about_us__p {
  margin: 0 0 30px 0;
  width: 1048px;
  font-size: 45px;
  line-height: 61px;
}
.about_us__link_services {
  width: 255px;
  height: 67px;
  display: block;
  font-size: 20px;
  line-height: 67px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #ad1818;
  cursor: pointer;
}

.projects {
  margin: 0 0 150px 0;
}
.projects h2 {
  margin: 0 0 30px 0;
}
.projects img {
  margin: 0 0 15px 0;
}
.projects h3 {
  margin: 0 0 15px 0;
  font-size: 30px;
  line-height: 41px;
}
.projects * {
  margin: 0 0 90px 0;
}
.projects li a {
  display: block;
  font-size: 20px;
  line-height: 27px;
  color: #ad1818;
  text-decoration: none;
  cursor: pointer;
}

.projects__link_view_all {
  height: 153px;
  display: block;
  font-size: 30px;
  line-height: 153px;
  text-align: center;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-decoration: none;
  color: #ad1818;
  background-color: #ffffff;
  cursor: pointer;
}
.link_all_projects:hover {
  color: #ffffff;
  background-color: #ad1818;
}

.services {
  padding: 150px 0 150px 0;
  background: #121212;
  color: #ffffff;
}
.services h2 {
  margin: 0 0 34px 0;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}
.services h3 {
  margin: 0 0 15px 0;
  font-size: 30px;
  line-height: 41px;
}
.services__list img {
  margin: 0 0 15px 0;
}
.services__list li:not(:last-child) {
  margin: 0 0 60px 0;
}
.example {
  margin: 0 0 150px 0;
}
.example__img8_p {
  width: 100%;
  height: 717px;
  position: relative;
  background: url(../resourses/img/png/img_8.png) no-repeat;
}
.example__img8_p p {
  width: 443px;
  left: 125px;
  bottom: 60px;
  position: absolute;
  font-size: 30px;
  line-height: 41px;
  color: white;
}
.contacts {
  padding: 0 0 150px 120px;
}
.contacts__phone_img {
  margin: 0 0 12px 0;
}
.contacts__h2 {
  margin: 0 0 32px 0;
}
.contacts__tel a {
  margin: 0 0 30px 0;
  display: block;
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
}
.contacts__mail a {
  font-size: 60px;
  line-height: 60px;
  border-bottom: 2px solid #121212;
  opacity: 0.5;
  color: #121212;
  text-decoration: none;
}
.footer {
  width: 100%;
  padding: 60px 0 30px 0;
  text-align: center;
  background: #121212;
  color: #ffffff;
}
.footer__links {
  margin: 0 auto;
  width: 450px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 87px 0;
  color: #ffffff;
}
.footer__links li a {
  color: #ffffff;
}
.footer__link1 {
  opacity: 0.5;
}
.copyright {
  font-size: 20px;
  line-height: 27px;
  padding: 0 0 0 5px;
  opacity: 0.5;
}
